body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
h1{
    color: #575757;
}
.flexible-display{
    display: flex;
    justify-content: center;
}
.half-width{
    width: 50%;
}
section{
    margin-bottom: 40px;
}
/* This is header area */

.header-area{
padding-left: 6%;
padding-right: 5%;
margin-top: 30px;
}
.header-area h1{
    font-size: 50px;
    font-weight: 800;
    color: #575757;
    margin-top: 150px;
    line-height: 1.2em;
    
}
.header-area p{
    padding-bottom: 40px;
    color: #828282;
    line-height: 1.6em;
}
.header-area img{
    width: 100%;
}
.header-area span{
    color: #1191FC;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#79ade0,#0286F6);
    padding: 20px 40px;
    font-weight: 600px;
    color: white;
     border-radius: 25px;
     box-shadow: 1px 0px 12px 1px #70b3f1c4;
}

/* This is About area */
.about-section{
    padding-left: 12%;
    padding-right: 5%;
    padding-top: 5%;
    margin-bottom: 100px;
    background-image: url(../images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.about-section img{
width: 60%;
}
.about-section h1{
    color: #535353;
    font-size: 40px;
    padding-bottom: 20px;
}
.about-section p{
    padding-bottom: 90px;
    color: #504f4f;
    line-height: 1.6em;
}
.about-text-area{
    padding-top: 40px;
    padding-bottom: px;
}

/* This is Items area */
.items-section h1{
    text-align: center;
    color: #888888;
    font-size: 35px;

}
.items-section p{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    line-height: 1.6em;
}
.items-area h2{
 padding-top: 20px;   
}
.items-area{
    margin-top: 30px;
}
.items-area p{
    padding-bottom: 20px;
    color: #353434;
    line-height: 1.6em;
    width: 100% ;
    text-align: left;
    
}
.items-width{
    width: 23%;
    margin: 0px 20px;
    padding: 20px 20px;
    box-shadow: #80808073 1px 0px 20px 0px;
    border-radius: 20px;
}
.items-width img{
    width: 100%;
}

/* This is Count area */
.count-section{
    box-shadow: #80808073 1px 0px 20px 0px;
    margin: 8% 8%;
    border-radius: 20px;
}
.count-items{
    width: 30%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 4%;
}
.count-items h1{
    font-size: 40px;
    color: black;
    font-weight: 800;
}
.count-items p{
    font-size: 15px;
    margin-top: -25px;
}

/* This is Review area */
.review-section h1{
    text-align: center;
    font-size: 40px;
    color: #888888;
    font-weight: 800;
}
.review-section{
margin: 0% 5%;
margin-bottom: 5%;
}
.main-reviews{
    width: 40%;
    box-shadow: #80808073 1px 0px 20px 0px;
    margin: 1% 2%;
    padding: 25px 30px;
    text-align: center;
    border-radius: 20px;
}
.main-reviews p{
    color: #797676;
    line-height: 1.6em;
    
}
.main-reviews span{
    font-size: 30px;
    color: red;
}
.main-reviews h3{
    color: #1B8EF1;
    margin-bottom: -1px;
}
.review-person-image{
width: 15%;
border-radius: 50%;
}
.review-icon{
    width: 20%;
}


/* This is Footer area */
footer{
    background: #0B0D17;
    text-align: center;
   padding: 1% 0% 5% 0%;
}
footer h2{
    color: #5B5B5B;
    text-transform: uppercase;
}
footer span{
    background: -webkit-linear-gradient(#1094FC,#A5C9EE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer p{
    color: white;
    padding-top: 20px;
    font-size: 13px;
}
footer a{
    text-decoration: none;
    color: #1194FD;
}